.devcontainer
.git
.template.config
.vs
.vscode
Artifacts
Docs
Operations
tools
.dockerignore
.env
.gitattributes
.gitignore
docker-compose.yml
docker-compose.*.yml
README.md
**/Dockerfile
**/PostPublish
**/bin
**/obj
