.devcontainer
.git
.template.config
.vs
.vscode
artifacts
Configurations
Docs
tools
.editorconfig
.env
.gitattributes
.gitignore
docker-compose.yml
docker-compose.*.yml
README.md
**/.dockerignore
**/Dockerfile
**/bin
**/obj
